<!--
 * @Descripttion: 
 * @Author: liufan
 * @Date: 2023-11-16 09:35:24
 * @LastEditors: liufan
 * @LastEditTime: 2023-12-25 16:03:05
-->
<app-layout>
  <button (click)="handleClick()" i18n>点击</button>

  <!-- <app-test-comp [vData]="vData" [count]="count"></app-test-comp> -->
  <router-outlet></router-outlet>
  <!-- <app-test-i18n-comp></app-test-i18n-comp> -->
  <ng-container *transloco="let t">
    <p>{{ t("hello") }}</p>
    <p>{{ t("apples", { count: 10 }) }}</p>

    <p>{{ t("dashboard.title") }}</p>
    <p>{{ t("dashboard.count") }}</p>
  </ng-container>

  <ng-container *transloco="let t; read: 'dashboard'">
    <p>{{ t("title") || 1111 }}</p>
    <p>{{ t("count") }}</p>
  </ng-container>

  <ng-container>
    <p>{{ 'hello' | transloco }}</p>
    <p>{{ 'apples' | transloco: { count: 10 } }}</p>
  </ng-container>

  <button (click)="changeLang('en')">切换英文</button> 
  <button (click)="changeLang('zh')">切换中文</button> 

  <div>当前语言{{activeLang}}</div>

  <div>本应用正在使用 Chrome ()</div>

</app-layout>
