<ng-container *transloco="let t">
    <p>{{ t("hello") }}</p>
    <p>{{ t("apples", { count: 10 }) }}</p>

    <p>{{ t("dashboard.title") }}</p>
    <p>{{ t("dashboard.count") }}</p>
  </ng-container>

  <ng-container *transloco="let t; read: 'dashboard'">
    <p>{{ t("title") || 1111 }}</p>
    <p>{{ t("count") }}</p>
  </ng-container>

  <ng-container>
    <p>{{ 'hello' | transloco }}</p>
    <p>{{ 'apples' | transloco: { count: 10 } }}</p>
  </ng-container>

  <button (click)="changeLang('en')">切换英文</button> 
  <button (click)="changeLang('zh')">切换中文</button> 

  <div>当前语言{{activeLang}}</div>